* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
  padding: 8px;
}

a:hover {
  color: #304F47;
}

a:focus {
  border-bottom: 2px solid #304F47;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: min(1280px, 100%);
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.logo {
  padding: 1.5em;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

/* signin button */
.sign-in {
  width: Fixed (160px)px;
  height: Fixed (51px)px;
  top: 76px;
  left: 1053px;
  padding: 11px 24px 11px 24px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #304F47;
  opacity: 0px;
  background-color: #C7923E;
  color: #fff;
}